{% extends 'base.html' %}

<!--displays a list of uploaded AudioFile instances   If an AudioFile instance has been processed, it displays a link to the processed file  -->

{% block content %}

  <h3>Uploaded Audio Files</h3>
  {% if audio_files %}
    <ul>

      {% for audio_file in audio_files %}
        <li>
          {{ audio_file.name }}
          {% if audio_file.processed %}
            (<a href="{{ audio_file.processed_file.url }}">processed</a>)
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No audio files uploaded yet.</p>
  {% endif %}
{% endblock %}

